body{
  color: white;
  font-family: "times new roman";
  text-align: center;
  font-size: 12px;
}


.padding{
  padding: 1px;
  border: 1px dotted red;
}


.margin{
  border: 7px dotted red;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 1px;
  margin-left: 1px;
  
}


.position{
  position: sticky;
  top: 100;
}


.animation{
  animation: bounce 0.1s infinite;
}


@keyframes bounce{
  0% {
    transform: translateY(0)
  }
  100% {
    transform: translateY(10px)
  }
}






